body, header {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.restart {
  display: none;
}


body {
  height: 50rem;
}
.title {
  font-size: 2rem;
  margin: 0.5rem;
}
img {
  width: 100%;
  height: 100%;
}

.main {
  /* background-color: blueviolet; */
  margin: 0.5rem;
  height: 30rem;
  width : 35rem;
  align-self: center;
}
.leftTime {
  background-color: burlywood;
  margin: 0.5rem;
}
.leftChar {
  background-color: brown;
  margin: 0.5rem;
}
.footer {
  display: none;
  justify-content: space-between;
  width: 20rem;
}
.waiting-board {
  height: 30rem;
  width : 35rem;
}
.game-board {
  display: grid;
  height: 30rem;
  width : 35rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.game-board > div {
  border-style: solid;
  border-width: 2px;
  border-color: black;
  min-width: 62px;
  min-height: 62px;
}
.game-board > div > img {
  object-fit: scale-down;
}